body {
	font-family: 'Permanent Marker', cursive;
}

.rainbow-bg{
		animation: rainbow-bg 4.5s linear;
		animation-iteration-count: infinite;
}

.rainbow{
		animation: rainbow 4.5s linear;
		animation-iteration-count: infinite;
}

@keyframes rainbow-bg{
		100%,0%{
			background-color: rgba(0,255,0,0.6);
		}

		50%{
			background-color: rgba(255,255,255,0.6);
		}
}

@keyframes rainbow{
		100%,0%{
			color: rgba(0,255,0,0.4);
		}

		50%{
			color: rgba(255,0,0,0.4);
		}
}
